*/Debug/
*/Release/
xcode/
build/


### https://raw.github.com/github/gitignore/320a610b9ffba3ff28166370b6dd9f73096e34b7/CMake.gitignore

*CMakeCache.txt
*CMakeFiles
*CMakeScripts
*Testing
*Makefile
*cmake_install.cmake
*install_manifest.txt
*compile_commands.json
*CTestTestfile.cmake


### https://raw.github.com/github/gitignore/320a610b9ffba3ff28166370b6dd9f73096e34b7/C++.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

