*/Debug/
*/Release/
xcode/
build/


### https://raw.github.com/github/gitignore/320a610b9ffba3ff28166370b6dd9f73096e34b7/CMake.gitignore

*CMakeCache.txt
*CMakeFiles
*CMakeScripts
*Testing
*Makefile
*cmake_install.cmake
*install_manifest.txt
*compile_commands.json
*CTestTestfile.cmake


### https://raw.github.com/github/gitignore/320a610b9ffba3ff28166370b6dd9f73096e34b7/C++.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


### https://raw.github.com/github/gitignore/6cd6c885ed226acbc9d76bfeb12aa9cdab0befd5/Global/Xcode.gitignore

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

*.xcodeproj/

